.header-icon:hover {
  fill: #ff4092;
}
.header-icon {
  padding: 20px;
}
.person {
	align-items: center;
    justify-content: center;
	padding: 1em;
}
.person {
    align-items: center;
    justify-content: center;
}

:root {
  --brand-white: #fff;
  --brand-black: #141414;
  --brand-pink: #ff4092;
  --brand-purple: #7b1173;
  --brand-violet: #e000cf;
  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;
  --brand-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);
  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;
  --font-family-base: "Sharp Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-title: "Sharp Sans Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-monospace: "Fira Code", "Fira Mono", Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --font-size-root: 16px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;
  --spacer: 2rem;
  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
  --border-radius: 0.2rem;
}
@font-face {
  font-family: Sharp Sans Display;
  src: url(https://oceanprotocol.com/static/SharpSansDispNo1-Bold-fe02db04e19121e5e7a6d137fa2d2a39.woff2)
      format("woff2"),
    url(https://oceanprotocol.com/static/SharpSansDispNo1-Bold-09f0d8fccdd56869a5c7873ddc3e8d8d.woff)
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Sharp Sans;
  src: url(https://oceanprotocol.com/static/SharpSans-Medium-b3328db3ccd7d76b27cbc8c9280e3bc5.woff2)
      format("woff2"),
    url(https://oceanprotocol.com/static/SharpSans-Medium-1ea951328192cff1bbc80b7ea32356f1.woff)
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Sharp Sans;
  src: url(https://oceanprotocol.com/static/SharpSans-Bold-bbcfda85decda8aae811d1c5ca5adda5.woff2)
      format("woff2"),
    url(https://oceanprotocol.com/static/SharpSans-Bold-6ae03c622c074db2f48158fd5951a58d.woff)
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
:not(pre) > code {
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
@-webkit-keyframes animation {
  0% {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animation {
  0% {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font-size-root);
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: var(--brand-grey);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--brand-pink);
  transition: 0.2s ease-out;
}
p {
  margin: 0;
  margin-bottom: calc(var(--spacer) / var(--line-height));
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-title);
  color: var(--brand-black);
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacer);
}
h1 {
  font-size: var(--font-size-h2);
}
h2 {
  font-size: var(--font-size-h3);
}
h3 {
  font-size: var(--font-size-h4);
}
@media (min-width: 30rem) {
  h1 {
    font-size: var(--font-size-h1);
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  h3 {
    font-size: var(--font-size-h3);
  }
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  display: block;
}
::selection {
  background: var(--brand-black);
  color: var(--brand-white);
}
.Container-module--container--1baDV {
  max-width: var(--break-point--large);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacer) / 1.2);
  padding-right: calc(var(--spacer) / 1.2);
  width: 100%;
}
.Button-module--button--XbPwb {
  border: 0;
  cursor: pointer;
  outline: 0;
  margin: 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(var(--spacer) / 3) var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  color: var(--brand-white);
  background: var(--brand-grey-light);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}
.Button-module--button--XbPwb:first-child {
  margin-left: 0;
}
.Button-module--button--XbPwb:last-child {
  margin-right: 0;
}
.Button-module--button--XbPwb:focus,
.Button-module--button--XbPwb:hover {
  color: var(--brand-white);
  background: var(--brand-grey-light);
  text-decoration: none;
  transform: translate3d(0, -0.05rem, 0);
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
}
.Button-module--button--XbPwb:active {
  background: var(--brand-grey-light);
  transition: none;
  transform: none;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.1);
}
.Button-module--button--XbPwb:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.Button-module--text--2NJUI,
.Button-module--text--2NJUI:active,
.Button-module--text--2NJUI:focus,
.Button-module--text--2NJUI:hover {
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  display: inline-block;
  background: 0;
  color: var(--brand-pink);
  box-shadow: none;
  cursor: pointer;
}
.Button-module--small--3C3s5 {
  font-size: var(--font-size-small);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
}
.Button-module--text--2NJUI.Button-module--small--3C3s5 {
  padding: 0;
}
.Logo-module--logo--fjl9p {
  width: 4rem;
  height: 4rem;
  margin: 0;
}
.Logo-module--logo--fjl9p path {
  fill: var(--brand-black);
  transition: 0.2s ease-out;
}
a > .Logo-module--logo--fjl9p:hover path {
  fill: var(--brand-pink);
}
.Badge-module--badge--2rcTp {
  display: inline-block;
  font-size: var(--font-size-mini);
  line-height: 1;
  padding: 0.1rem 0.2rem;
  border-radius: var(--border-radius);
  color: var(--brand-white);
  background: var(--brand-purple);
}
.Badge-module--badge--2rcTp,
.MenuLink-module--link--2ZYZn {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
.MenuLink-module--link--2ZYZn {
  display: block;
  padding: calc(var(--spacer) / 2);
  color: var(--brand-grey);
  font-size: var(--font-size-small);
  position: relative;
  z-index: 1;
}
@media (min-width: 40rem) {
  .MenuLink-module--link--2ZYZn {
    padding-left: var(--spacer);
    padding-right: var(--spacer);
  }
}
a.MenuLink-module--link--2ZYZn:focus,
a.MenuLink-module--link--2ZYZn:hover {
  outline: 0;
  color: var(--brand-pink);
}
.MenuLink-module--link--2ZYZn[aria-current],
.MenuLink-module--link--2ZYZn[aria-current]:focus,
.MenuLink-module--link--2ZYZn[aria-current]:hover {
  color: var(--brand-pink);
}
.MenuLink-module--link--2ZYZn svg {
  display: inline-block;
  fill: var(--brand-grey-light);
  width: var(--font-size-mini);
  height: var(--font-size-mini);
  margin: 0;
  margin-left: calc(var(--spacer) / 8);
  transition: transform 0.2s ease-out;
  opacity: 0.7;
}
.MenuLink-module--link--2ZYZn[aria-expanded="true"] svg {
  transform: rotate(180deg);
}
.MenuLink-module--badge--21MZL {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}
.index-module--logo--23i-W svg {
  min-width: 4rem;
  margin-left: -0.5rem;
}
.index-module--waves--3pYLi,
.index-module--waves--3pYLi svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.index-module--waves--3pYLi {
  z-index: -1;
  overflow: hidden;
  transform: translateZ(0);
}
.index-module--waves--3pYLi svg {
  top: auto;
  bottom: -4rem;
  transform: scaleX(1.2) rotate(-8deg);
  height: 450px;
}
@media (min-width: 30rem) {
  .index-module--waves--3pYLi svg {
    bottom: 1rem;
  }
}
.Address-module--address--1sbCs {
  color: var(--brand-grey-light);
  display: flex;
  flex-wrap: wrap;
}
.Address-module--logo--12gyK {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: calc(var(--spacer) * 1.5);
}
.Address-module--copyright--39HDZ {
  margin: 0;
  align-self: flex-end;
}
.Address-module--copyright--39HDZ,
.Address-module--copyright--39HDZ small {
  font-size: var(--font-size-mini);
}
.Address-module--copyright--39HDZ p:last-child {
  margin-bottom: 0;
}
.Address-module--copyright--39HDZ a,
.Address-module--copyright--39HDZ button {
  color: inherit;
  border-bottom: 1px dotted var(--brand-grey-light);
  font-size: var(--font-size-mini);
}
.Address-module--cookieButton--1S1EI {
  text-transform: none;
  padding: 0;
  font-weight: var(--font-weight-base);
  margin-left: calc(var(--spacer) / 2);
  transform: none;
}
.InputElement-module--input--2CJgj {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--brand-black);
  border: 1px solid var(--brand-grey-lighter);
  box-shadow: none;
  width: 100%;
  background: var(--brand-white);
  padding: calc(var(--spacer) / 3);
  margin: 0;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  min-height: 43px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}
.InputElement-module--input--2CJgj:focus {
  border-color: var(--brand-grey);
  box-shadow: none;
  outline: 0;
}
.InputElement-module--input--2CJgj::-webkit-input-placeholder {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  font-weight: var(--font-weight-base);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  opacity: 0.7;
}
.InputElement-module--input--2CJgj::-ms-input-placeholder {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  font-weight: var(--font-weight-base);
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  opacity: 0.7;
}
.InputElement-module--input--2CJgj::placeholder {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  font-weight: var(--font-weight-base);
  transition: 0.2s ease-out;
  opacity: 0.7;
}
.InputElement-module--input--2CJgj[disabled],
.InputElement-module--input--2CJgj[readonly] {
  background-color: var(--brand-grey-lighter);
  cursor: not-allowed;
  pointer-events: none;
}
.Label-module--label--ELX9P {
  color: var(--brand-grey);
  font-size: var(--font-size-base);
  font-family: var(--font-family-title);
  line-height: 1.2;
  display: block;
  margin-bottom: calc(var(--spacer) / 4);
}
.Label-module--required--27UqE:after {
  content: "*";
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  display: inline-block;
  margin-left: 0.1rem;
}
.index-module--field--boDa1 {
  margin-bottom: var(--spacer);
}
.Gdpr-module--gdpr--3Q7MM {
  font-size: var(--font-size-mini);
  opacity: 0.6;
  margin-top: var(--spacer);
}
.Gdpr-module--gdpr--3Q7MM a {
  color: inherit;
  border-bottom: 1px dotted var(--brand-grey-light);
}
.FormNewsletter-module--inputGroup--3O3_7 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.FormNewsletter-module--inputGroup--3O3_7 label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.FormNewsletter-module--inputGroup--3O3_7 button,
.FormNewsletter-module--inputGroup--3O3_7 > div {
  margin: 0;
}
.FormNewsletter-module--inputGroup--3O3_7 input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.FormNewsletter-module--inputGroup--3O3_7 button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}
.index-module--footer--182z9 {
  margin-top: calc(var(--spacer) * 3);
  padding: calc(var(--spacer) * 2) 0;
  font-size: var(--font-size-small);
  position: relative;
  background: url(/static/mantaray-grid.ef25fe81.svg) no-repeat 100% 0;
  background-size: 200px;
}
@media (min-width: 40rem) {
  .index-module--footer--182z9 {
    background-size: 250px;
    background-position: -5% 65%;
  }
}
@media (min-width: 90rem) {
  .index-module--footer--182z9 {
    background-position: left 65%;
  }
}
@media (min-width: 110rem) {
  .index-module--footer--182z9 {
    background-position: 5% 65%;
  }
}
.index-module--grid--2ogN1 {
  display: grid;
  gap: calc(var(--spacer) * 2);
}
@media (min-width: 40rem) {
  .index-module--grid--2ogN1 {
    grid-template-columns: 3fr 9fr;
  }
}
.index-module--title--3Ys5r {
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
}
.index-module--waves--1AZ5A {
  top: -300px;
}
.index-module--waves--1AZ5A svg {
  top: 0;
  bottom: auto;
}
.Follow-module--follow--1KmQP {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin-top: calc(var(--spacer) * 1.5);
  padding-top: calc(var(--spacer) * 1.5);
  border-top: 1px solid var(--brand-grey-lighter);
}
.Follow-module--social--eYpIA a {
  display: inline-block;
  margin-left: calc(var(--spacer) / 3);
}
.Follow-module--social--eYpIA a:first-of-type {
  margin-left: 0;
}
.Follow-module--social--eYpIA svg {
  width: var(--font-size-h3);
  height: var(--font-size-h3);
}
.Follow-module--social--eYpIA a:hover path {
  fill: var(--brand-pink);
}
.Follow-module--newsletter--3mAIA form > div:last-child {
  display: none;
}
.Follow-module--newsletter--3mAIA button,
.Follow-module--newsletter--3mAIA input {
  min-height: auto;
  padding-top: calc(var(--spacer) / 4);
  padding-bottom: calc(var(--spacer) / 4);
  font-size: var(--font-size-small);
}
.Follow-module--newsletter--3mAIA input {
  background: 0 0;
}
.Follow-module--newsletter--3mAIA input:focus {
  background: var(--brand-white);
  border-color: var(--brand-grey-lighter);
}
.Follow-module--newsletter--3mAIA input::-webkit-input-placeholder {
  font-size: var(--font-size-small);
}
.Follow-module--newsletter--3mAIA input::-ms-input-placeholder {
  font-size: var(--font-size-small);
}
.Follow-module--newsletter--3mAIA input::placeholder {
  font-size: var(--font-size-small);
}
.Follow-module--newsletter--3mAIA button {
  background: var(--brand-white);
  border: 1px solid var(--brand-grey-lighter);
  box-shadow: none;
  color: var(--brand-grey);
  font-size: var(--font-size-small);
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}
.Menu-module--menu--28sIy {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}
.Menu-module--menu--28sIy [class*="badge"] {
  position: relative;
  display: inline;
  vertical-align: super;
  top: -0.7rem;
}
.Menu-module--link--2ouod {
  color: var(--brand-grey);
  padding: calc(var(--spacer) / 4) 0;
  text-transform: none;
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
}
.Menu-module--menuSecondary--3XwmZ {
  margin-top: var(--spacer);
}
.Menu-module--menuSecondary--3XwmZ ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}
.Menu-module--menuSecondary--3XwmZ .Menu-module--link--2ouod {
  display: inline-block;
}
.Menu-module--menuSecondary--3XwmZ [class*="badge"] {
  top: -0.2rem;
  right: -1.7rem;
}
@-webkit-keyframes Modal-module--fadeIn--sZ8Ho {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Modal-module--fadeIn--sZ8Ho {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes Modal-module--moveUp--1X_CT {
  0% {
    transform: translate3d(0, 1rem, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Modal-module--moveUp--1X_CT {
  0% {
    transform: translate3d(0, 1rem, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@-webkit-keyframes Graphic-module--moveLeftToRight--34Tok {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(196px);
  }
}
@keyframes Graphic-module--moveLeftToRight--34Tok {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(196px);
  }
}
@-webkit-keyframes Graphic-module--moveTopToDown--2zKGJ {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  to {
    transform: translateY(120px) rotate(90deg);
  }
}
@keyframes Graphic-module--moveTopToDown--2zKGJ {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  to {
    transform: translateY(120px) rotate(90deg);
  }
}
@-webkit-keyframes Graphic-module--pulse--22nPL {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes Graphic-module--pulse--22nPL {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes Twitter-module--fadeIn--2mcBd {
  0% {
    opacity: 0.001;
  }
  to {
    opacity: 1;
  }
}
@keyframes Twitter-module--fadeIn--2mcBd {
  0% {
    opacity: 0.001;
  }
  to {
    opacity: 1;
  }
}