body {
  background: #8b98a9;
  margin: 40px;
  font-family: 'Roboto', sans-serif;
}



/* ==== MODAL SYSTEM ==== */
.modal-window {
  position: fixed;
  background-color: rgba(20,20,20,.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-window img {
  width: 200px;
  margin-top: -2rem;
  margin-left: calc(-2em - 7%);
}



.modal-close {
  color: rgba(123, 17, 115, 1);;
  line-height: 50px;
  font-size: 70px;
  font-weight: 100;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}


.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-window h2 {
  color: #41474e;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.modal-window .ambassador-description {
  overflow-y: scroll;
  height: 60vh;
}

.modal-window .col-4 img{
  margin-top: -40px;
}

.interior {
  overflow: hidden;
  position: relative;
}

.interior:hover .btn img {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.interior:hover .triangle:after {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.interior .triangle:hover:after {
  transform: scale(1.1);
}

.interior .btn img{
  width: 100%;
  display: block;
  transition: transform .4s;
  z-index: 1;
}

.interior .triangle {
  bottom: 0;
  right: 0;
  height: 75px;
  width: 75px;
  line-height: 75px;
  text-align: center;
  background: rgba(123, 17, 115, 0.82);
  border-bottom-right-radius: 100%;
  position: absolute;
  transform: rotate(180deg);
  z-index: 2;
}

.interior .triangle:after {
  content: "+";
  font-size: 38px;
  font-weight: 100;
  color: white;
  position: absolute;
  left: 19px;
  top: -8px;
  transition: transform .4s;
}




/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

